body {
    background-color: rgb(224, 224, 224);
    border: 2px solid;
    padding: 10px;
  }
  
  h1 {
    color: rgb(1, 110, 189);
    margin-left: 20px;
  }
  h2 {
    color: hsl(304, 87%, 57%);
    margin-left: 20px;
    
  }

  button {
    background-color: gray;
    font-size: 45px;
    margin-left: 20px;
    padding: 20px;
    border: 5px solid green;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  button:hover {
    background-color: #04AA6D; /* Green */
    color: white;
    cursor: progress;
  }